@media screen and (min-width: 568px) {

    /* sezioni relative all'aside */
    aside {
        min-width: 200px;
    }

    
    .top-section{
        text-align: left;
        padding-left: 16px;
    }
    
    .mid-section{
        text-align: left;
        padding-left: 16px;
    }
    
    .bottom-section{
        text-align: left;
        padding-left: 16px;
    }
    
    .logo-lg-container{
        display: block;
    }
    
    .logo-xs-container{
        display: none;
    }
    
    .aside-content-text{
        display: inline-block;
    }

    .aside-list{
        align-items: flex-start;
    }

    .aside-list-link{
        display: flex;
    }

    aside .gray-line{
        display: block;
    }

}


@media screen and (min-width: 768px) {
    .column{
        flex-basis: 25%;
    }
    .left-icon-container{
        flex-direction: row;
        padding-left: 32px;
    }
}


@media screen and (min-width: 992px) {
    .column{
        flex-basis: 16.6%;
    }
}