@media screen and (min-width: 568px) {

    /* sezioni relative all'aside */
    aside {
        min-width: 200px;
    }

    
    .top-section{
        text-align: left;
        padding-left: 8px;
    }
    
    .mid-section{
        text-align: left;
        padding-left: 8px;
    }
    
    .bottom-section{
        text-align: left;
        padding-left: 8px;
    }
    
    .logo-lg-container{
        display: block;
    }
    
    .logo-xs-container{
        display: none;
    }
    
    .aside-content-text{
        display: inline-block;
    }

    .aside-list{
        align-items: flex-start;
    }

    .aside-list-link{
        display: flex;
    }

    .column{
        flex-basis: auto;
        flex-grow: 1;
    }
}


@media screen and (min-width: 768px) {
    
}


@media screen and (min-width: 992px) {
    
}