:root{
    --command-bg-color: #282828;
    --header-bg-color: #080b12;
    --main-bg-color: #141922;
    --primary-text-color: #a3a3a3;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* classi centralizzate per uso in tutta la page */

.padder-16-tb{
    padding: 16px 0;
}

.padder-8-tb{
    padding: 8px 0;
}
.padder-8{
    padding: 8px;
}

/* 
Classi per i container principali
*/
.top-container{
    flex-grow: 1;
    display: flex;
}

.commandbar-container{
    flex-shrink: 0;
    height: 100px;
    background-color: var(--command-bg-color);
    display: flex;
}


.main-container{
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

header{
    text-align: right;
    padding: 24px 8px;
    background-color: var(--header-bg-color);
    flex-shrink: 0;
}

main{
    background-color: var(--main-bg-color);
    flex-grow: 1;
}

/* 
sezioni relativa all'aside 
*/
aside{
    width: 60px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.top-section{
    flex-shrink: 0;
    color: var(--primary-text-color);
    text-align: center;
}

.mid-section{
    flex-grow: 1;
    color: var(--primary-text-color);
}


.bottom-section{
    flex-shrink: 0;
    color: var(--primary-text-color);
    text-align: center;
}

.logo-lg-container{
    display: none;
    width: 128px;
}

.logo-xs-container{
    display: block;
    width: 50%;
    margin: auto;
}

.aside-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
}

.aside-list li{
    display: flex;
    column-gap: 8px;
    margin-bottom: 8px;
    align-items: baseline;
    font-weight: 300;
}

.aside-list li i{
    font-size: 20px;
}

.aside-content-text{
    display: none;
    font-size: 12px;
}

aside .mid-section h6,
aside .bottom-section h6  
{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.aside-list-link .add-playlist{
    display: flex;
    align-items: center;
}

.aside-list-link .add-playlist div{
    background-color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.aside-list-link .add-playlist div i{
    font-size: 18px;
    color: black;
}

.aside-list-link{
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    font-size: 12px;
    font-weight: 300;
}

.aside-list-link li{
    margin: 8px 0;
}

.mid-section a,
.bottom-section a,
nav a{
    padding: 8px 0;
    text-decoration: none;
    color: var(--primary-text-color);
}

.aside-list li i.fa-circle-down{
    font-size: 12px;
    font-weight: 300;
}

aside .gray-line{
    border-bottom: 1px solid var(--primary-text-color);
    margin-right: 16px;
}


/* Inizio gli stili del main partendo dalla nav */

nav ul{
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li{
    padding: 8px 8px 16px;
}

/* stili per le colonne, noto che in mobile sono a 2 a 2 */
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.column{
    flex-basis: 50%;
    padding: 8px;
    border: 1px dashed red;
}

.card{
    padding: 8px;
    background-color: aqua;
}

/* sezioni per la command-bar */
.left-command{
    flex-shrink: 0;
}

.center-command{
    flex-grow: 1;
    flex-shrink: 0;
}

.right-command{
    flex-shrink: 0;
}